{% extends "base.html" %}

{% block content %}
<div   class="tags">

    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }} </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <p class="paras-subtopics"></p>

<br><br>
  <div style="background-color:ae23a3;" class="general-flex-x  jobs-gui">
        {% if users %}
            {% for item in users %}
            <!----FORM----->
                    <div style="display:flex;flex-direction:column;width:300px;" class="new_job_ad_style_usr anim">

                            <div style="" class="center-prl-img">
                                <div style="margin:15px auto 0px auto;"  class="img-cont">
                                    <img class="prf-image" src="{{url_for('static', filename='images/' + item.image)}}"/>  
                                </div>
                            </div>

                            <h2 style="margin-bottom:0px;margin-top:0px;">{{item.name}}<br></h2>
                            <span><small style="color:#aaa" >{{item.email}}</small></span>
                            {%if item.address%}
                                <span><small style="color:#aaa" >{{item.address}}</small></span>
                            {%endif%}{%if item.contacts%}
                                <span><small style="color:#aaa" >{{item.contacts}}</small></span><br>
                            {%endif%}

                            {%if item.approval%}
                                <div style="background-color: rgb(121, 121, 121);margin:1px auto !important" class="btns">Approved</div>
                            {%endif%}

                        <!-------JOB TITLE--------->
                        {% if item.skills %}
                            <small class="maincolor" style="width:90%;margin:0 auto;font-weight:600">"{{item.skills}}"</small><br><br>
                        {% endif %}

                        {% if item.tertiary %}
                            <div><small class="view_applicant_p" ><span class="view_freelanca_p" >Tertiary</span><span></span></small></div>
                            <div><small class="view_applicant_p" ><span style="font-wight:bold;" ></span>{{item.tertiary}}</small></div><br><br>
                        {% endif %}

                        <!---------JOB TYPE--------->
                        {% if item.experience %}
                            <div><small class="view_applicant_p" ><span class="view_freelanca_p" >Experience</span><span></span></small></div>
                            <div><small class="view_applicant_p" ><span style="font-wight:bold;" ></span>{{item.experience}}</small></div>
                        {% endif %}

                        <br><br>
                        <div class="space-filler"></div>
                        {%if current_user.is_authenticated and current_user.role == "admin_user"%}
                        <div style="dispaly:block">
                            <a class="view_user" href="/jobseekeracc?jbid={{ser.dumps({'data':item.id})}}">Account Details</a>
                        </div>
                        {%endif%}
                    </div>
            {% endfor %}
        {% endif %}
  </div>
</div>
{% endblock %}